* {
	padding: auto;
	background-image: url(bg.jpeg);
	color: red;


}

p {

  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 8px double red;
  background-color: white;
  
}

img {
	width: 25px;
	height: 25px;
	background-color: transparent;

}

button {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 2px solid red;
	background-color: black;
	color: red;
}




