body{
	background-image: url(bg.jpeg);
	margin: 20px;
	padding-top: 180px;
	padding-right: 20px;
	padding-left: 20px;
}


button {
	
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 2px solid red;
	background-color: black;
	color: red;
}

form {
	color: red;

}

input {
	background-color: black;
	color: red;
	text-align: center;
}

img{
	width: 50px;
	height: 50px;
	padding-left: 619px;
	background-image: transparent;
}

h3{
	color: red;
	text-align: center;
}



